target/
dependency-reduced-pom.xml

hw03/.mvn/wrapper/maven-wrapper.properties
hw03/mvnw.cmd
hw03/mvnw

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
